<h1>The Best Game of Hangman Ever!</h1>
<h3>Wrong guesses so far: {{ctrl.numWrongGuesses}}</h3>
<h3>Wrong guesses allowed: {{ctrl.numAllowedWrongGuesses}}</h3>
<div class="hangman-figure-container"><div data-ng-repeat="figureLine in ctrl.figure">{{figureLine}}</div></div>

<div data-letter-guess-box
     data-letter="{{letter.letter}}"
     data-show-letter="letter.guessed"
     style="display: inline-block;"
     data-ng-repeat="letter in ctrl.answer track by $index">
</div>

<div class="alphabet-container">
  <span data-ng-repeat="letter in ctrl.alphabet" data-ng-click="ctrl.guessLetter(letter)" class="alphabet-letter" data-ng-class="{'guessed': letter.guessed}">{{letter.letter}}</span>
</div>
