<h1>The Best Game of Hangman Ever!</h1>
<h3>Remaining Guesses: {{ctrl.numAllowedWrongGuesses - ctrl.numWrongGuesses}}</h3>
<div class="hangman-figure-container"><div data-ng-repeat="figureLine in ctrl.figure">{{figureLine}}</div></div>

<div data-letter-guess-box
     data-letter="{{letter.letter}}"
     data-show-letter="letter.guessed"
     style="display: inline-block;"
     data-ng-repeat="letter in ctrl.answer track by $index">
</div>

<div class="row" style="margin-top: 2rem;">
  <div class="col-md-6 col-md-offset-3">
    <div class="alphabet-container" data-ng-if="ctrl.userWon === null && ctrl.numWrongGuesses < ctrl.numAllowedWrongGuesses">
      <span data-ng-repeat="letter in ctrl.alphabet" data-ng-click="ctrl.guessLetter(letter)" class="alphabet-letter" data-ng-class="{'guessed': letter.guessed}">{{letter.letter}}</span>
    </div>
    <div class="panel panel-success" data-ng-if="ctrl.userWon === true">
      <div class="panel-heading">
        Congrats!
      </div>
    </div>
    <div class="panel panel-danger" data-ng-if="ctrl.userWon === false">
      <div class="panel-heading">
        Bummer!
      </div>
    </div>
  </div>
</div>
