/* Typography */
/* Colors */
body {
  font-family: 'Cinzel', serif;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.2;
  color: #222; }
  body h1 {
    font-size: 3.2em; }
  body h2 {
    font-size: 2.72em; }
  body h3 {
    font-size: 2.4em; }
  body h4 {
    font-size: 1.92em; }

html {
  background: url("../images/grass_less_color.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background-color: transparent; }

.container {
  text-align: center; }

.header {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 4rem; }
  .header.row {
    margin-left: 0;
    margin-right: 0; }

.zombie-part {
  max-width: 12rem;
  display: block; }

.letter-guess-box {
  display: inline-block;
  border-bottom: 4px solid #000;
  width: 5.5rem;
  margin: .5rem 1rem;
  padding: .5rem 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3); }
  .letter-guess-box.guessed {
    border: 1px solid #fff; }
  .letter-guess-box .letter-guess {
    vertical-align: middle;
    font-size: 2em; }
    .letter-guess-box .letter-guess.guessed {
      color: #fff; }

.alphabet-container {
  border-radius: 1px;
  padding: 1.5rem 3rem;
  margin-top: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 7rem; }
  .alphabet-container .alphabet-letter {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 1px;
    padding-top: .8rem;
    margin: .5rem;
    transition: background-color .3s, font-weight .3s, border-color .3s;
    width: 4rem;
    height: 4rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #DDD;
    font-weight: 300;
    font-size: 1.2em; }
    .alphabet-container .alphabet-letter:hover {
      color: #fff;
      border-color: #222;
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      font-weight: 400; }
    .alphabet-container .alphabet-letter.guessed {
      color: #888;
      background-color: rgba(0, 0, 0, 0.7);
      cursor: not-allowed;
      border-color: #888; }

.hangman-figure-container {
  height: 26rem;
  width: 14rem;
  border-top: 7px solid #000;
  border-right: 9px solid #000;
  margin: auto;
  margin-bottom: 4rem; }
