/* Typography */
/* Colors */
body {
  font-family: "IM Fell English", serif;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.2;
  color: #DDD; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin-top: 0; }
  body h1 {
    font-size: 3.2em; }
  body h2 {
    font-size: 2.72em; }
  body h3 {
    font-size: 2.4em; }
  body h4 {
    font-size: 1.68em; }
  body a {
    color: #DDD;
    transition: all .3s; }
    body a:hover {
      color: #921d17;
      text-decoration: none; }

html {
  background: url("../images/grass_less_color.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background-color: rgba(0, 0, 0, 0.7); }

.container {
  text-align: center; }

.hangman-header {
  background-color: #222;
  color: #921d17;
  width: 100%;
  padding: 1rem 2rem 0;
  margin-bottom: 4rem;
  font-family: "Nothing You Could Do", cursive; }
  .hangman-header.row {
    margin-left: 0;
    margin-right: 0; }
  .hangman-header h3, .hangman-header h4 {
    display: inline-block; }
  .hangman-header .byline {
    float: right;
    margin-top: 1rem;
    color: #DDD; }

.zombie-part {
  max-width: 12rem;
  display: block; }

.letter-guess-box {
  display: inline-block;
  border: 3px solid #480d0a;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 5.5rem;
  height: 5.5rem;
  vertical-align: top;
  margin: .5rem 1rem;
  padding: 1rem 1.2rem;
  text-align: center;
  transition: border-color 1.5s; }
  .letter-guess-box.guessed {
    border-color: #921d17; }
  .letter-guess-box .letter-guess {
    vertical-align: middle;
    font-size: 2em;
    color: #222;
    transition: color .5s; }
    .letter-guess-box .letter-guess.guessed {
      color: #DDD; }

.alphabet-container {
  border-radius: 1px;
  padding: 3rem;
  margin-top: 1.2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 7rem; }
  .alphabet-container .header-text {
    color: #DDD;
    border-bottom: 1px solid #480d0a;
    padding-bottom: 1rem;
    margin-bottom: 2rem; }
  .alphabet-container .alphabet-letter {
    display: inline-block;
    color: #DDD;
    font-size: 1.6em;
    width: 3.5rem;
    height: 4rem;
    vertical-align: middle;
    transition: .3s linear all; }
    .alphabet-container .alphabet-letter:hover {
      color: #921d17;
      cursor: pointer;
      transform: scale(1.2) translatey(2px); }
    .alphabet-container .alphabet-letter.guessed {
      color: #222;
      cursor: not-allowed; }

.hangman-figure-container {
  height: 26rem;
  width: 14rem;
  border-top: 7px solid #222;
  border-right: 9px solid #222;
  margin: auto;
  margin-bottom: 4rem; }
