html {
  background: url("../images/grass.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

.container {
  text-align: center;
}

.header {
  background-color: $color-light-opaque;
  width: 100%;
  padding: 0 2rem;
  font-family: 'Cinzel', serif;
  margin-bottom: 4rem;

  &.row {
    margin-left: 0;
    margin-right: 0;
  }
}

.zombie-part {
  max-width: 12rem;
  display: block;
}

.letter-guess-box {
  display: inline-block;
  border-bottom: 4px solid $color-black;
  width: 5.5rem;
  margin: .5rem 1rem;
  padding: .5rem 1rem;
  text-align: center;
  font-family: 'Cinzel', serif;
  background-color: $color-medium-opaque;

  &.guessed {
    border: 1px solid $color-white;
  }

  .letter-guess {
    vertical-align: middle;
    font-size: 2em;

    &.guessed {
      color: $color-white;
    }
  }
}

.alphabet-container {
  border-radius: 1px;
  padding: 1.5rem 3rem;
  margin-top: 2rem;
  text-align: center;
  font-family: 'Cinzel', serif;
  background-color: $color-medium-opaque;
  margin-bottom: 7rem;

  .alphabet-letter {
    display: inline-block;
    border: 1px solid $color-black;
    border-radius: 1px;
    padding-top: .8rem;
    margin: .5rem;
    transition: background-color .3s, font-weight .3s, border-color .3s;
    width: 4rem;
    height: 4rem;
    text-align: center;
    background-color: $color-dark-opaque;
    color: $color-light-grey;
    font-weight: 300;
    font-size: 1.2em;

    &:hover {
      color: $color-white;
      border-color: $color-dark-grey;
      background-color: $color-medium-opaque;
      cursor: pointer;
      font-weight: 400;
    }

    &.guessed {
      color: $color-medium-grey;
      background-color: $color-dark-opaque;
      cursor: not-allowed;
      border-color: $color-medium-grey;
    }
  }
}

.hangman-figure-container {
  height: 26rem;
  width: 14rem;
  border-top: 7px solid $color-black;
  border-right: 9px solid $color-black;
  margin: auto;
  margin-bottom: 4rem;
}
