html {
  background: url("../images/grass_less_color.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  // background-color: transparent;
  background-color: $color-dark-opaque;
}

.container {
  text-align: center;
}

.header {
  background-color: $color-dark-grey;
  color: $color-light-red;
  width: 100%;
  padding: 1rem 2rem 0;
  margin-bottom: 4rem;

  &.row {
    margin-left: 0;
    margin-right: 0;
  }
}

.zombie-part {
  max-width: 12rem;
  display: block;
}

.letter-guess-box {
  display: inline-block;
  border: 3px solid $color-dark-red;
  border-radius: 2px;
  background-color: $color-medium-opaque;
  width: 5.5rem;
  height: 5.5rem;
  vertical-align: top;
  margin: .5rem 1rem;
  padding: 1rem 1.2rem;
  text-align: center;
  transition: border-color 1.5s;

  &.guessed {
    border-color: $color-light-red;
  }

  .letter-guess {
    vertical-align: middle;
    font-size: 2em;
    color: $color-dark-grey;
    transition: color .5s;

    &.guessed {
      color: $color-light-grey;
    }
  }
}

.alphabet-container {
  border-radius: 1px;
  padding: 3rem;
  margin-top: 1.2rem;
  text-align: center;
  background-color: $color-dark-opaque;
  margin-bottom: 7rem;

  .header-text {
    color: $color-light-grey;
    border-bottom: 1px solid $color-dark-red;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }

  .alphabet-letter {
    display: inline-block;
    color: $color-light-grey;
    font-size: $font-size-base;
    width: 3.5rem;
    height: 4rem;
    vertical-align: middle;
    transition: .3s linear all;

    &:hover {
      color: $color-light-red;
      cursor: pointer;
      transform: scale(1.2) translatey(2px);
    }

    &.guessed {
      color: $color-dark-grey;
      cursor: not-allowed;
    }
  }
}

.hangman-figure-container {
  height: 26rem;
  width: 14rem;
  border-top: 7px solid $color-dark-grey;
  border-right: 9px solid $color-dark-grey;
  margin: auto;
  margin-bottom: 4rem;
}
