@mixin game-background($background-image-url, $background-overlay-color) {
  background: url($background-image-url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  body {
    background-color: $background-overlay-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin game-fonts($fancy-font-family, $body-font-family) {
  body {
    font-family: $body-font-family;

    .hangman-header {
      font-family: $fancy-font-family;
    }

    .fancy-font {
      font-family: $fancy-font-family;
    }

    button.cta {
      font-family: $fancy-font-family;
    }
  }
}

@mixin game-color-scheme($main-text-color, $anchor-accent-color, $nav-hangman-accent-color, $light-accent, $dark-accent) {
  body {
    color: $main-text-color;

    a {
      color: $main-text-color;
      border-bottom: 1px solid $anchor-accent-color;
      transition: all .3s;

      &:hover, &:active {
        color: $light-accent;
        text-decoration: none;
      }
    }

    button.cta {
      background-color: $light-accent;
      color: $main-text-color;

      &:hover {
        color: $color-white;
        background-color: $dark-accent;
      }
    }

    .welcome-message-container {
      border: 1px solid $anchor-accent-color;
    }

    .hangman-header {
      background-color: $nav-hangman-accent-color;

      .logo {
        color: $light-accent;
      }
    }

    .hangman-figure-container {
      border-top: 7px solid $nav-hangman-accent-color;
      border-right: 9px solid $nav-hangman-accent-color;
    }

    .letter-guess-box {
      border: 3px solid $dark-accent;
      background-color: $color-medium-opaque;

      .letter {
        opacity: 0;
        transition: opacity .5s;
      }

      &.guessed {
        border-color: $light-accent;

        .letter {
          opacity: 1;
        }
      }
    }

    .alphabet-container {
      background-color: $color-dark-opaque;
      .header-text {
        border-bottom: 1px solid $dark-accent;
      }

      .answer-text {
        color: $light-accent;
      }

      .alphabet-letter {
        &:hover {
          color: $light-accent;
        }

        &.guessed {
          color: $nav-hangman-accent-color;
        }
      }
    }
  }
}

html.zombie {
  @include game-background("../images/grass_less_color.png", $color-dark-opaque);
  @include game-color-scheme($color-light-grey, $color-medium-grey, $color-dark-grey, $color-light-red, $color-dark-red);
  @include game-fonts($font-family-script, $font-family-serif);
}
