/* Typography */
$font-size-base: 1.6em;
$font-size-h1: 2 * $font-size-base;
$font-size-h2: 1.7 * $font-size-base;
$font-size-h3: 1.5 * $font-size-base;
$font-size-h4: 1.2 * $font-size-base;

/* Colors */
$color-white: #fff;
$color-light-grey: #DDD;
$color-medium-grey: #888;
$color-dark-grey: #222;
$color-black: #000;

$color-light-opaque: rgba(0, 0, 0, .1);
$color-medium-opaque: rgba(0, 0, 0, .3);
$color-dark-opaque: rgba(0, 0, 0, .7);
