/* Typography */
$font-size-base: 20px;
$font-family-script: 'Nothing You Could Do', cursive;
$font-family-serif: 'IM Fell English', serif;

/* Colors */
$color-white: #fff;
$color-light-grey: #DDD;
$color-medium-grey: #888;
$color-medium-dark-grey: #555;
$color-dark-grey: #222;
$color-black: #000;

$color-dark-red: #480D0A;
$color-light-red: #921d17;

$color-light-opaque: rgba(0, 0, 0, .1);
$color-medium-opaque: rgba(0, 0, 0, .3);
$color-dark-opaque: rgba(0, 0, 0, .7);
